@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");


.alumcitas {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tituloalumnocitas {
    font-size: 24px;
    margin-top: 100px;
    
}



  #cita-programar {
    background-color: #6750A4;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 100px;
    width: 200px;
    margin-top: 50px;
    height: 40px;
    text-align: center;
    left: 40%;


  }
