@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");


.Principal {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    
}

.Superior {
    display: flex;
    background-color: #F3EDF7;
    
    position: relative;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

.Inferior {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: row;
}


/*Superior*/
.Superior h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #1D1B20;
    font-size: 22px;
    font-weight: 400;
    
}

.imagen-izq {
    position: absolute;
    left: 18px;
}
  
.imagen-der {
    position: absolute;
    right: 18px;

}



/*Lateral*/

.Lateral {
    display: flex;
    flex-direction: column;
    background: #D9D9D9;

    position: relative;
    width: fit-content;
    height: 100%;
    justify-content: space-between ;
    
}

.Lateral ul {
    list-style: none;
    text-align: left;
    font-size: 14px;
    padding-left: 24px;
    color: #6750A4;
    font-family: Roboto, sans-serif;
}
  
.Lateral li {
    padding-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
}
  
.Lateral li:first-child {
    margin-top: 38px;
}

.Version {
    width: auto;

    position: relative;
    bottom: 12px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    overflow: auto;
    text-align: center;
    width: 146px;
}

.btnbanner{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    cursor: pointer;
    border: none;
    position: relative;
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6750A4;
    background-color: #D9D9D9; 
    padding: 10px 10px;
  }
  
  .btnbanner:hover {
    background-color: #c8c7ca;
  }
  
/*Contenido*/
.Titulo {
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.Contenido {
    display: block;
    padding: 10px 24px;
    position: relative;
    width: 85%;
}