
  .content p{
    position: absolute;
    left: 182px;
    top: 86px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin-right: 10px;
  }


  /*PerfilComponente*/

  .grid-container {
    display: grid;
    align-items: bottom;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto;
    grid-gap: 10px; 
    position: relative;
    margin-top: 50px;
        
  }

  .grid-item {
    display: grid;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    grid-template-columns: 3fr 1fr; 
    height: 70px;
  }

  .inner-grid-container-izq{

    justify-items: start;
    margin-left: 50px;
  }

  .inner-grid-item1 p{
    justify-items: start;
    margin: 0px;
  }

  .inner-grid-item2 p{
    margin:0px;
  
    color:#49454F;
  }

  .inner-grid-container-der{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  #nombre-btn {
    background-color: white; 
    border-radius: 100px 0 0 100px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 151.5px;
    top:100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 99px;
    height: 40px;
    border-color:  black;
    border: 1px solid;

  }
  
  #nombre-btn:hover {
    background-color: #E8DEF8;
  }
  #fecha-btn {
    background-color: white; 
    border-radius: 100px 0 0 100px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 58px;
    top:100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 99px;
    height: 40px;
    border-radius: 0 100px 100px 0;
    border-color:  black;
    border: 1px solid;

  }
  
  #fecha-btn:hover {
    background-color: #E8DEF8;
  }

 /* .InfPer {
    position: absolute;
    /*height: 264px;
    left: 165px;
    right: 31px;
    top: 159px;
    background: #F3EDF7;
  }*/

  .Busqueda p{
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #49454F;
    margin-left: 45px;
    line-height: 20px;
  }

  .busq-fecha{
    position: relative;
    margin-left: 0px;
    width: 80%;
    height: 50px;
  }

  .busq-fecha input {
    width: 80%; 
    height: 100%;
    border: 2px solid #6750A4;
    border-radius: 5px;
  }

  .busq-nombre{
    position: relative;
    width: 90%; 
    margin-left: 0px;
    height: 50px;
  }

  .busq-nombre input {
    width: 80%; 
    height: 100%;
    border: 2px solid #6750A4;
    border-radius: 5px;
  }

  .Busqueda table {
    position: absolute;
    /*display: flex;*/
    padding: 0px;
    width: 1360px;
    height: 76px;
    left: 175px;
    top: 152px;
  }

  .Principal {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    
}

.Superior {
    display: flex;
    background-color: #F3EDF7;
    
    position: relative;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

.Inferior {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: row;
}

.Lateral {
    display: flex;
    flex-direction: column;
    background: #D9D9D9;

    position: relative;
    width: fit-content;
    height: 100%;
    justify-content: space-between ;
    
}



/*Superior*/
h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #1D1B20;
    font-size: 22px;
    font-weight: 400;
    
}

.imagen-izq {
    position: absolute;
    left: 18px;
}
  
.imagen-der {
    position: absolute;
    right: 18px;

}

/*Lateral*/
.Lateral ul {
    list-style: none;
    text-align: left;
    font-size: 14px;
    padding-left: 24px;
    color: #6750A4;
    font-family: Roboto, sans-serif;
}
  
.Lateral li {
    padding-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
}
  
.Lateral li:first-child {
    margin-top: 38px;
}

.Version {
    width: auto;
    position: relative;
    bottom: 12px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    overflow: auto;
    text-align: center;
    width: 146px;
}

.Contenido {
  display: block;
  padding: 10px 24px;
  position: relative;
  width: 85%;
}
.Titulo {
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 100%;
}

