@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.titulo h1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    top: 20px;
    
}

.contenidologin p{
    font-family: Roboto, sans-serif;
    color:rgb(147,112,219);
    font-size: 11px;
    text-align: right;
}

.contenidologin input[type=text] {
    padding:10px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    border-color: rgb(147,112,219);
    height: 34px;
    width: 250px;
    font-size: 17px;
}

.entrar{
    border: none;
    background-color: rgb(230,230,250);
    border-radius: 15px;
    height: 34px;
    width: 75px;
    align-self: left;
    font-weight: bold;
}

.salir{
    border: none;
    color: rgb(147,112,219);
    background-color: white;
    border-radius: 15px;
    height: 34px;
    width: 75px;
    align-self: right;
    font-weight: bold;
}



